In [ ]:
import pandas as pd
import database_utils as dbu

# 1. Test products table

In [ ]:
query = '''
    select * 
    from products
    limit 5
'''

sample_products = dbu.query_sql(sql=query, database='supermarket.db')
sample_products

# 2. Test transactions table

In [ ]:
query = '''
    select * 
    from transactions
    limit 3
'''

sample_transactions = dbu.query_sql(sql=query, database='supermarket.db')
sample_transactions

# 3. Test Prices table

In [ ]:
query = '''
    select * 
    from prices
    limit 3
'''

sample_prices = dbu.query_sql(sql=query, database='supermarket.db')
sample_prices

In [ ]:
query = '''
    select * 
    from products
    order by Product asc
'''

sample_prices = dbu.query_sql(sql=query, database='supermarket.db')
sample_prices

## Write a query that lists all products in the meet category

In [2]:
import pandas as pd
import database_utils as dbu

database = 'supermarket.db'

query = '''
    SELECT Product
    FROM products
    WHERE Category = 'meat'
    '''
dbu.query_sql(database=database, sql=query)

Query executed successfully!
query returned 4 rows

         0
0  chicken
1     beef
2     pork
3  tilapia