In [ ]:
import pandas as pd
import database_utils as dbu

# 1. Test products table

In [ ]:
query = '''
    select * 
    from products
    limit 5
'''

sample_products = dbu.query_sql(sql=query, database='supermarket.db')
sample_products

# 2. Test transactions table

In [ ]:
query = '''
    select * 
    from transactions
    limit 3
'''

sample_transactions = dbu.query_sql(sql=query, database='supermarket.db')
sample_transactions

# 3. Test Prices table

In [ ]:
query = '''
    select * 
    from prices
    limit 3
'''

sample_prices = dbu.query_sql(sql=query, database='supermarket.db')
sample_prices

In [ ]:
query = '''
    select * 
    from products
    order by Product asc
'''

sample_prices = dbu.query_sql(sql=query, database='supermarket.db')
sample_prices

## Write a SQL query that lists all products in the meet category

In [ ]:
import pandas as pd
import database_utils as dbu

database = 'supermarket.db'

query = '''
    SELECT Product
    FROM products
    WHERE Category = 'meat'
    '''
dbu.query_sql(database=database, sql=query)

## Use pandas to list all products in the meat category

In [ ]:
import pandas as pd

#read data from excel spreadsheet and query the category for "meat" 
products = pd.read_excel('datasets/supermarket_products.xlsx')
meats = products.query('Category=="meat"')
meats.Product

## Write a query to list the 5 most expensive products and their corresponsing unit costs

In [ ]:
import pandas as pd
import database_utils as dbu

database = 'supermarket.db'

query = '''
    SELECT Product, unit_cost_of_goods
    FROM products
    ORDER BY 2 DESC
    LIMIT 5
    '''
dbu.query_sql(database=database, sql=query)

## Use to list the 5 most expensive products and their corresponsing unit costs

In [14]:
import pandas as pd

products = pd.read_excel('datasets/supermarket_products.xlsx')
exp5 = products.sort_values(by=['Unit Cost of Goods'], ascending=False)[:5]
exp5[['Product', 'Unit Cost of Goods']]

             Product  Unit Cost of Goods
0            chicken                5500
1               beef                5000
2               pork                4000
3            tilapia                3500
4  laundry detergent                3000

In [ ]:
import pandas as pd
import database_utils as dbu

database = 'supermarket.db'
query = '''
    with t1 as (
        select product, location, sum (quantity) as total_quantity
        from transactions
        group by 1, 2
    )'
    t2 as (
        select product, category
        from products
    ),
    t3 as (
        select product, category
        products
    )
    select t3.category, sum(t1.total_quantity*t2.price) as revenue
    from t1
    left join t2 on t1.product=t2.product
'''

dbu.query_sql(sql=query, database=database)