In [2]:
import pandas as pd

#load product table
products = pd.read_excel('supermarket_products.xlsx')
products = products.set_index('Product')

#load transactions table
transactions = pd.read_csv('march_2021_transactions_location_1.csv', index_col = 0)

#join the tables
joined_table = transactions.join(products, on='item')
joined_table.head(5)

,timestamp,item,quantity,Category,Unit Cost of Goods
0,2021-03-01 09:00:00,oranges,29,fruits,800
1,2021-03-01 09:00:00,laundry detergent,6,detergents,3000
2,2021-03-01 09:00:00,shampoo,4,personal care,3000
3,2021-03-01 10:00:00,beef,8,meat,5000
4,2021-03-01 10:00:00,coffee,3,beverages,200

In [1]:
import pandas as pd
import database_utils as dbu

database = 'supermarket.db'
query = '''
    SELECT product
    FROM products
    WHERE 'Category' = 'meat'
'''

dbu.query_sql(sql=query, database=database)

Query executed successfully!
query returned 0 rows

In [ ]:
import pandas as pd
import database_utils as dbu

database = 'supermarket.db'
query = '''
    with t1 as (
        select product, location, sum (quantity) as total_quantity
        from transactions
        group by 1, 2
    )'
    t2 as (
        select product, category
        from products
    ),
    t3 as (
        select product, category
        products
    )
    select t3.category, sum(t1.total_quantity*t2.price) as revenue
    from t1
    left join t2 on t1.product=t2.product
'''

dbu.query_sql(sql=query, database=database)